extends ./layouts/main.jade

block title
  title Main page | cookbook

block content
  h1 cookbook main page
  
  #cookbook
    
    .b-recipe
      img.b-recipe__ill( src="/upload/gingerbread.jpg", alt="" )
      .b-recipe__cover
        img.b-recipe__cover-ill( src="/upload/gingerbread.jpg", alt="" )
    
    .b-recipe
      img.b-recipe__ill( src="/upload/pie.jpg", alt="" )
      .b-recipe__cover
        img.b-recipe__cover-ill( src="/upload/pie.jpg", alt="" )